/*-----------------------------------------------------------------------------------------------------------RESET------------------------------------------------------------------------------------------------------------------------------------------------------*/
* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

img {

  max-width: 100%;

}

/*-----------------------------------------------------------------------------------------------------------HTML----------------------------------------------------------------------------------------------------------------------------------------------------*/
html {

  font-size: 62.5%; /*Per avere 10px in proporzione al font base (16px : 100% = 10px : x%)*/

}

/*-----------------------------------------------------------------------------------------------------------FLOAT--------------------------------------------------------------------------------------------------------------------------------------------------*/

.float-left {
  
  float: left;

}

.float-right {

  float: right;

}

.clearfix::after {

  content:"";
  clear: both;
  display: table;
  
}




/*---------------------------------------------------------------------------------------------------------FLEX PART----------------------------------------------------------------------------------------------------------------------------------------------------*/
.display-flex {

  display: flex;

}

.flex-direction-column {

  flex-direction: column;

}

.justify-content-center {

  justify-content: center;

}

.align-items-center {

  align-items: center;

}

.flex-spc-btwn-cntr
{

  display: flex;
  justify-content: space-between;
  align-items: center;

}

.flex-spc-arnd-cntr
{

  display: flex;
  
  justify-content: space-around;

  align-items: center;

}

.flex-spc-evnl-cntr

{

  display: flex;
  
  justify-content: space-evenly;

  align-items: center;

}

/*----------------------------------------------------------------------------------------------------------POSITION PARTS--------------------------------------------------------------------------------------------------------------------------------------------*/
.position-absolute {

  position: absolute;

}

.position-relative {

  position: relative;

}

/*---------------------------------------------------------------------------------------------------------------TYPOGRAPHY------------------------------------------------------------------------------------------------------------------------------------------*/

.font-size-10 {

  font-size: 1rem;

}

.font-size-20 {

  font-size: 2rem;

}

.font-size-25 {

  font-size: 2.5rem;


}

.font-size-30 {

  font-size: 3rem;

}

/*-----------------------------------------------------------------------------------------------------------MARGIN PARTS--------------------------------------------------------------------------------------------------------------------------------------------*/
.m-1em {

  margin: 1em;

}

.m-2em {

  margin: 2em;

}

.m-3em {

  margin: 3em;

}

.m-4em {

  margin: 4em;

}

.m-top-1em {

  margin-top: 1em;

}

.m-btm-1em {

  margin-bottom: 1em;

}

.m-lft-1em {

  margin-left: 1em;

}

.m-rgt-1em {

  margin-right: 1em;

}


.m-top-2em {

  margin-top: 2em;

}

.m-btm-2em {

  margin-bottom: 2em;

}

.m-lft-2em {

  margin-left: 2em;

}

.m-rgt-2em {

  margin-right: 2em;

}

.m-top-3em {

  margin-top: 3em;

}

.m-btm-3em {

  margin-bottom: 3em;

}

.m-lft-3em {

  margin-left: 3em;

}

.m-rgt-3em {

  margin-right: 3em;

}


.m-top-4em {

  margin-top: 4em;

}

.m-btm-4em {

  margin-bottom: 4em;

}

.m-lft-4em {

  margin-left: 4em;

}

.m-rgt-4em {

  margin-right: 4em;

}

/*---------------------------------------------------------------------------------------------------------------PADDING PARTS---------------------------------------------------------------------------------------------------------------------------------------*/
.p-1em {

  padding: 1em;

}

.p-2em {

  padding: 2em;

}

.p-3em {

  padding: 3em;

}

.p-4em {

  padding: 4em;

}

.p-top-btm-1em {

  padding: 1em 0;

}

.p-top-1em {

  padding-top: 1em;

}

.p-btm-1em {

  padding-bottom: 1em;

}

.p-lft-1em {

  padding-left: 1em;

}

.p-rgt-1em {

  padding-right: 1em;

}


.p-top-2em {

  padding-top: 2em;

}

.p-btm-2em {

  padding-bottom: 2em;

}

.p-lft-2em {

  padding-left: 2em;

}

.p-rgt-2em {

  padding-right: 2em;

}

.p-top-3em {

  padding-top: 3em;

}

.p-btm-3em {

  padding-bottom: 3em;

}

.p-lft-3em {

  padding-left: 3em;

}

.p-rgt-3em {

  padding-right: 3em;

}


.p-top-4em {

  padding-top: 4em;

}

.p-btm-4em {

  padding-bottom: 4em;

}

.p-lft-4em {

  padding-left: 4em;

}

.p-rgt-4em {

  padding-right: 4em;

}


/*----------------------------------------------------------------------------------------------------------COLUMN PARTS----------------------------------------------------------------------------------------------------------------------------------------------*/

.row {

  display: flex;
  flex-wrap: wrap;

}

.col-one {

  width: calc(100% / 12);

}

.col-two {

  width: calc(100% / 12 * 2);

}

.col-three {

  width: calc(100% / 12 * 3);

}

.col-four {

  width: calc(100% / 12 * 4);

}

.col-five {

  width: calc(100% / 12 * 5);

}

.col-six {

  width: calc(100% / 12 * 6);

}

.col-seven {

  width: calc(100% / 12 * 7);

}

.col-eight {

  width: calc(100% / 12 * 8);

}

.col-nine {

  width: calc(100% / 12 * 9);

}

.col-ten {

  width: calc(100% / 12 * 10);

}

.col-eleven {

  width: calc(100% / 12 * 11);

}

.col-twelve {

  width: 100%;

}

/*---------------------------------------------------------------------------------------------------------------HEIGHTS PARTS----------------------------------------------------------------------------------------------------------------------------------------*/

.height-one {

  height: calc(100vh / 12);

}

.height-two {

  height: calc(100vh / 12 * 2);

}

.height-three {

  height: calc(100vh / 12 * 3);

}

.height-four {

  height: calc(100vh / 12 * 4);

}

.height-five {

  height: calc(100vh / 12 * 5);

}

.height-six {

  height: calc(100vh / 12 * 6);

}

.height-seven {

  height: calc(100vh / 12 * 7);

}

.height-eight {

  height: calc(100vh / 12 * 8);

}

.height-nine {

  height: calc(100vh / 12 * 9);

}

.height-ten {

  height: calc(100vh / 12 * 10);

}

.height-eleven {

  height: calc(100vh / 12 * 11);

}

.height-twelve {

  height: 100vh;

}