
/*------VARIABLES------*/
:root {

    /* COLORS */
    --primary-blue: #0084fd;
    --secondary-blue: #b5ddff;
    --violet: #9792e4;
    --yellow: #fdc15f;
    --grey-footer: #333333;
    --white: white;

}

/*---------------------------------------COMMON UNCHANGEABLE-------------------------------------------------------------------*/
html {

    font-family: 'PT Sans', sans-serif;

}

/*---------------------------------------SPECIFIED PARTS BY ID (MOBILE FIRST)--------------------------------------------------*/

/* COMMON */

/* HEADER */
header {



}

/* GET-A-DEMO */
#get-a-demo {



}

/* PLANNING */
#planning {



}

/* TESTIMONIALS */
#testimonials {



}

/* BENEFITS */
#benefits {



}

/* ABOUT-US */
#about-us {



}

/* CALL-TO-ACTION */
#call-to-action {



}

/* FOOTER */
footer {



}

/*---------------------------------------MEDIA QUERY (MIN HEIGHT 768)--------------------------------------------------*/
@media screen and (min-width: 768px) {
    
    /* COMMON */

    /* HEADER */
    header {



    }

    /* GET-A-DEMO */
    #get-a-demo {



    }

    /* PLANNING */
    #planning {



    }

    /* TESTIMONIALS */
    #testimonials {



    }

    /* BENEFITS */
    #benefits {



    }

    /* ABOUT-US */
    #about-us {



    }

    /* CALL-TO-ACTION */
    #call-to-action {



    }

    /* FOOTER */
    footer {

        

    }

}

/*---------------------------------------MEDIA QUERY (MIN HEIGHT 992)--------------------------------------------------*/
@media screen and (min-width: 992px) {

    /* COMMON */

    /* HEADER */
    header {



    }

    /* GET-A-DEMO */
    #get-a-demo {



    }

    /* PLANNING */
    #planning {



    }

    /* TESTIMONIALS */
    #testimonials {



    }

    /* BENEFITS */
    #benefits {



    }

    /* ABOUT-US */
    #about-us {



    }

    /* CALL-TO-ACTION */
    #call-to-action {



    }

    /* FOOTER */
    footer {

        

    }

}

/*---------------------------------------MEDIA QUERY (MIN HEIGHT 1200)--------------------------------------------------*/
@media screen and (min-width: 1200px) {

    /* COMMON */

    /* HEADER */
    header {



    }

    /* GET-A-DEMO */
    #get-a-demo {



    }

    /* PLANNING */
    #planning {



    }

    /* TESTIMONIALS */
    #testimonials {



    }

    /* BENEFITS */
    #benefits {



    }

    /* ABOUT-US */
    #about-us {



    }

    /* CALL-TO-ACTION */
    #call-to-action {



    }

    /* FOOTER */
    footer {

        

    }

}
