
/*------VARIABLES------*/
:root {

    /* COLORS */
    --primary-blue: #0084fd;
    --secondary-blue: #b5ddff;
    --text-blue: #5a6e7f;
    --violet: #9792e4;
    --yellow: #fdc15f;
    --grey-footer: #333333;
    --white: white;
    --black: black;

    /* BORDER RADIUS */
    --border-radius: 30px;
}

/*---------------------------------------COMMON UNCHANGEABLE-------------------------------------------------------------------*/
html {

    font-family: 'PT Sans', sans-serif;

}

/*---------------------------------------SPECIFIED PARTS BY ID (MOBILE FIRST)--------------------------------------------------*/

/* COMMON */
.container {

    width: 95%;
    margin: 0 auto;

}

p,
h4,
a,
span {

    font-size: 2rem;
    margin-bottom: 2em;

}

h2 {

    font-size: 4rem;

}

h3 {

    font-size: 3rem;

}

.btn {

    display: block;
    padding: 1em;
    text-align: center;
    border-radius: var(--border-radius);
    
    
    text-decoration: none;

    

}

/* HEADER */
header {

    background-color: var(--primary-blue);
    color: var(--white);

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;

}

header nav {

    display: none;

}

header .btn {

    color: var(--black);
    background-color: var(--white);
    

}

header a {

    margin-bottom: 0;

}

/* GET-A-DEMO */
#get-a-demo {

    background-color: var(--white);


}

#get-a-demo .col {

    background-color: var(--secondary-blue);
    width: 100%;
    border-radius: var(--border-radius);
    margin-bottom: 3em;
    

    /*DEBUG*/
    min-height: 300px;
    border: 1px solid black;

}

#get-a-demo .col .bottom {

    padding-bottom: 0;
    display: flex;
    align-items: flex-end;

}

#get-a-demo .col .bottom img {

    display: block;

}

#get-a-demo .btn {

    background-color: var(--primary-blue);
    color: var(--white);
    width: 60%;

}

#get-a-demo h3 {

    color: var(--primary-blue);

}

#get-a-demo p {

    color: var(--text-blue);

}

#get-a-demo i {

    font-size: 8rem;
    color: var(--primary-blue);

}

/* PLANNING */
#planning {

    background-color: var(--violet);

}

#planning .col {

    color: var(--white);

}

#planning .col img {

    display: block;
    margin: 0 auto;

}

#planning .col:nth-child(2)
{

    background-color: var(--white);
    border-radius: var(--border-radius);
    color: var(--black);
    text-align: center;

}

/* TESTIMONIALS */
#testimonials {

    text-align: center;

}

#testimonials .row {

    background-color: var(--violet);
    border-radius: var(--border-radius);
    color: var(--white);

}

#testimonials .row .col:first-child {

    
    flex-shrink: 0;

}

#testimonials img {

    display: block;
    margin: 0 auto;
    width: 50vw;
    height: 50vw;
    object-fit: cover;
    border-radius:50%;
    
}

/* BENEFITS */
#benefits {

    background-color: var(--violet);

}

#benefits .col {

    background-color: var(--white);
    width: 100%;
    border-radius: var(--border-radius);

    

}

#benefits .btn {

    color: var(--white);
    background-color: var(--violet);
    width: 60%;

}

/* ABOUT-US */
#about-us .col img {

    width: 50%;

}

#about-us .col img {

    border-radius: 50%;

}

/* CALL-TO-ACTION */
#call-to-action {

    background-color: var(--violet);
    text-align: center;
    color: var(--white);

}

#call-to-action h2 {

    color: var(--yellow);

}

#call-to-action .btn {

    background-color: var(--white);
    color: var(--violet);
    margin: 0 auto 2em;
    width: 60%;

}

#call-to-action span a {

    color: inherit;

}

/* FOOTER */
footer {

    background-color: var(--grey-footer);
    text-align: center;
    color: var(--white);

}

footer a {

    color: var(--violet);

}

/*---------------------------------------MEDIA QUERY (MIN HEIGHT 768)--------------------------------------------------*/
@media screen and (min-width: 768px) {
    
    /* COMMON */

    /* HEADER */

    /* GET-A-DEMO */
    #get-a-demo .row {

        display: flex;
        justify-content: space-between;

    }

    #get-a-demo .col {

        width: 30%;

    }

    #get-a-demo .row:first-child .col:first-child {

        width: 65%;

    }

    #get-a-demo .col .bottom img {

        
        width: 50%;

    }

    /* PLANNING */

    /* TESTIMONIALS */
    #testimonials .row {

        display: flex;
        justify-content: space-between;
        align-items: center;
        

    }

    #testimonials .col  {

        text-align: start;
        

    }

    #testimonials img {

        width: 20vw;
        height: 20vw;

    }

    /* BENEFITS */
    #benefits .row {

        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

    }

    #benefits .col {

        width: 47.5%;

    }

    /* ABOUT-US */

    #about-us .row {

        display: flex;
        justify-content: space-between;

    }

    #about-us .col img {

        width:100%;

    }

    #about-us .row .col:first-child {

        width: 50%;

    }

    #about-us .row .col:not(first-child) {

        width: 45%;

    }

    /* CALL-TO-ACTION */

    /* FOOTER */

}

/*---------------------------------------MEDIA QUERY (MIN HEIGHT 992)--------------------------------------------------*/
@media screen and (min-width: 992px) {

    /* COMMON */
    .container {

        width: 80%;
        margin: 0 auto;
    
    }

    /* HEADER */
    header .fa-bars {

        display: none;

    }

    header nav {

        display: block;
    
    }

    header ul {

        list-style-type: none;

    }

    header li {

        display: inline-block;

    }

    header li a {

        text-decoration: none;
        color: inherit;

    }

    /* GET-A-DEMO */
    #get-a-demo .col .bottom img {

        width: 100%;

    }

    #get-a-demo .row:first-child .col:first-child {

        display: flex;
        justify-content: space-between;

    }

    /* PLANNING */
    #planning .row {

        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        


    }

    #planning .col {

        width: 45%;

    }

    /* TESTIMONIALS */
    #testimonials img {

        width: 10vw;
        height: 10vw;

    }

    /* BENEFITS */
    #benefits .col {

        width: 30%;
        

    }

    /* ABOUT-US */

    /* CALL-TO-ACTION */

    /* FOOTER */

}

/*---------------------------------------MEDIA QUERY (MIN HEIGHT 1200)--------------------------------------------------*/
@media screen and (min-width: 1200px) {

    /* COMMON */
    .container {

        width: 80%;
        margin: 0 auto;
        max-width: 1200px;

    }

    /* HEADER */

    /* GET-A-DEMO */

    /* PLANNING */

    /* TESTIMONIALS */

    /* ABOUT-US */

    /* CALL-TO-ACTION */

    /* FOOTER */

}
