
/*------VARIABLES------*/
:root {

    /* COLORS */
    --primary-blue: #0084fd;
    --secondary-blue: #b5ddff;
    --violet: #9792e4;
    --yellow: #fdc15f;
    --grey-footer: #333333;
    --white: white;

}

/*---------------------------------------COMMON UNCHANGEABLE-------------------------------------------------------------------*/
html {

    font-family: 'PT Sans', sans-serif;

}

/*---------------------------------------SPECIFIED PARTS BY ID (MOBILE FIRST)--------------------------------------------------*/

/* COMMON */
.container {

    width: 95%;
    margin: 0 auto;

}

/* HEADER */
header {

    background-color: var(--primary-blue);
    color: var(--white);

}

header nav {

    display: none;

}

/* GET-A-DEMO */
#get-a-demo {



}

/* PLANNING */
#planning {



}

/* TESTIMONIALS */
#testimonials {



}

/* BENEFITS */
#benefits {



}

/* ABOUT-US */
#about-us {



}

/* CALL-TO-ACTION */
#call-to-action {



}

/* FOOTER */
footer {



}

/*---------------------------------------MEDIA QUERY (MIN HEIGHT 768)--------------------------------------------------*/
@media screen and (min-width: 768px) {
    
    /* COMMON */

    /* HEADER */
    header {



    }

    /* GET-A-DEMO */
    #get-a-demo {



    }

    /* PLANNING */
    #planning {



    }

    /* TESTIMONIALS */
    #testimonials {



    }

    /* BENEFITS */
    #benefits {



    }

    /* ABOUT-US */
    #about-us {



    }

    /* CALL-TO-ACTION */
    #call-to-action {



    }

    /* FOOTER */
    footer {

        

    }

}

/*---------------------------------------MEDIA QUERY (MIN HEIGHT 992)--------------------------------------------------*/
@media screen and (min-width: 992px) {

    /* COMMON */
    .container {

        width: 80%;
        margin: 0 auto;
        max-width: 1200px;
    
    }

    /* HEADER */
    header {



    }

    header .fa-bars {

        display: none;

    }

    header nav {

        display: block;
    
    }

    header ul {

        list-style-type: none;

    }

    header li {

        display: inline-block;

    }

    header li a {

        text-decoration: none;
        color: inherit;

    }

    /* GET-A-DEMO */
    #get-a-demo {



    }

    /* PLANNING */
    #planning {



    }

    /* TESTIMONIALS */
    #testimonials {



    }

    /* BENEFITS */
    #benefits {



    }

    /* ABOUT-US */
    #about-us {



    }

    /* CALL-TO-ACTION */
    #call-to-action {



    }

    /* FOOTER */
    footer {

        

    }

}

/*---------------------------------------MEDIA QUERY (MIN HEIGHT 1200)--------------------------------------------------*/
@media screen and (min-width: 1200px) {

    /* COMMON */

    /* HEADER */
    header {



    }

    /* GET-A-DEMO */
    #get-a-demo {



    }

    /* PLANNING */
    #planning {



    }

    /* TESTIMONIALS */
    #testimonials {



    }

    /* BENEFITS */
    #benefits {



    }

    /* ABOUT-US */
    #about-us {



    }

    /* CALL-TO-ACTION */
    #call-to-action {



    }

    /* FOOTER */
    footer {

        

    }

}
